Django==5.0.6
psycopg2-binary 
celery 
redis 
django-celery-beat 
django-environ 
django-auditlog 
django-crispy-forms 
crispy-bootstrap5 
Pillow 
openpyxl 
xhtml2pdf 
django-debug-toolbar 
django-ratelimit 
gunicorn 
whitenoise 
jdatetime 
