Django==5.0.6
psycopg2-binary==2.9.9
celery==5.4.0
redis==5.0.4
django-celery-beat==2.6.0
django-environ==0.11.2
django-auditlog==3.0.0
django-crispy-forms==2.1
crispy-bootstrap5==2024.2
Pillow==10.3.0
openpyxl==3.1.2
xhtml2pdf==0.2.16
django-debug-toolbar==4.4.0
django-ratelimit==4.1.0
gunicorn==22.0.0
whitenoise==6.6.0
jdatetime==5.0.0
